body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

.btn {
  background-color: pink;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.7s, height 0.7s;
}

.btn:hover::before {
  width: 400px;
  height: 400px;
}
